
body {
  /* Variables */
  /* color:white; */
  --dashboard-color-2:  #5090D3;
  --sidebarOption-hover-color: #172c69;
  --header-icon-color: #badacf;
  --header-icon-unselected-color: rgb(243, 231, 231);
  --header-icon-selected-color: #0b1945;
  --header-background-color: #0fbfbf;
  --header-text-color:#2c2e2e;
  --searchbar-color: transparent;
  --news-category:rgb(143, 134, 229);
  --stats-background-color: white;
  --stats-text-color:rgb(167, 164, 164);
  --cool-yellow-shade:rgb(243, 201, 12);
  --sidebar-icon-color: rgb(223, 17, 99);
  --sidebar-text-color: rgb(243, 231, 231);
  --newsfeed-text-color:#2c2e2e;
  --cool-pink-shade:rgb(238, 143, 181);
  --cool-cyan-shade:#5df0ba;
  --cool-blue-shade:#5db8f0;  
  --money-color:rgb(175, 236, 171);
  --newsFeed-chart-color:rgb(230, 236, 171);
  --shallow-black:rgb(56, 55, 55);
  --header-hover-background-color:rgb(77, 75, 75);
  background-color:  black;
  --shallow-brown:#42494D;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.stats {
}

.stats__container {
  flex-direction: column;
  flex: 1;
  background-color: var(--stats-background-color);
  border-radius: 5px;
}

.stats__content {
  font-size: 13px;
}

.stats__header {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #768289;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
  color: white;
  background-color: var(--shallow-black);
}

.stats__buyShares__modal{
  display: flex;
  flex-direction:column;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  gap:15px;
  border-bottom: 1px solid #768289;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  color: white;
  background-color: var(--shallow-black);
}

.entry__fields{
  display:flex;
  flex-direction:column;
  /* justify-content: space-around; */
  align-items:center;
  /* gap:10px; */
}

.stats__buyShares__modal input[type=text]{
  width:145px;
  border:black 1px solid;
  height:25px;
  background-color:rgb(96, 94, 94);
  color:white;
  opacity:0.7;
}

.stats__buyShares__modal input[type=text]:focus{
  outline:none;
  opacity:1;
}

.stats__buyShares__modal button{
  background-color:black;
  width:150px;
  border:none;
  cursor:pointer;
  height:25px;
  text-align: center;
  color:white;
  border: white 1px solid;
  border-radius: 10px;
  opacity:0.6;
}

.stats__buyShares__modal button:hover{
opacity:1;
}

.stats-lists {
  height: 52px;
  border-top: 1px solid #42494D;
  padding: 4px 20px 0px 20px;
  color:white;
  transition:1s;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;
  align-items: center;
  cursor: pointer;
  background-color: var(--shallow-black);
  border-bottom:solid black 1px;
  color:gray;
}

.row:hover {
  background-color: var(--shallow-brown);
}

.row__intro > h1 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
  color:var(--stats-text-color);
}

.row__intro > p {
  font-size: 12px;
  color:var(--stats-text-color);
}

.row__numbers {
  text-align: end;
  font-weight: 500;
  color:var(--stats-text-color);
}

.row__numbers :hover{
  color:white;
}


.row__price {
  padding-bottom: 4px;
  color:var(--stats-text-color);

}

.border-gradient {
  border-bottom: 1px solid;
  border-radius:5px;
  border-image-slice: 10;
}
.outermost-border-gradient{
  border-image-source: linear-gradient(
    45deg,
    rgb(243, 112, 182) ,
    rgb(219, 173, 241) ,
    rgb(132, 236, 198) ,
    rgb(243, 243, 112) ,
    rgb(132, 236, 198) ,
    rgb(184, 173, 241) ,
    rgb(132, 213, 236) 
  )}